.lm-btn {
    background-color: #6158ac;
    outline: 2px solid #6158ac;
    outline-offset: 2px;
    color: #11093a;

    &:hover {
        background-color: #11093a;
        color: #6158ac;
    }
}

.background-logo {
    background-color: #0e0f8c;
}